---
import heroImage from "../assets/images/hero.png";
import {frontmatter as fm} from '../components/Cegadatok.md';

---
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home" style={`background-image: url(${heroImage.src});`}>
  <div class="hero-content w3-text-white">
    <span class="w3-jumbo w3-hide-small w3-animate-right">Szakértelem, precizitás.</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Szakértelem, precizitás.</span><br>
    <i class="fa fa-check"></i> <span class="w3-large">Teljes körű villanyszerelés (lakossági, ipari)</span><br>
    <i class="fa fa-check"></i> <span class="w3-large">Klímaszerelés</span><br>
    <i class="fa fa-check"></i> <span class="w3-large">Érintésvédelmi felülvizsgálat</span><br>
    <i class="fa fa-check"></i> <span class="w3-large">E.ON regisztrált szerelő</span><br>
    <p class="w3-large">Baranya megye, elsősorban Pécs, Mohács és térsége</p>
    <p class="w3-margin-top-32"><a href="#ceg" class="w3-button w3-orange w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off w3-animate-top">Tudjon meg többet cégünkről</a></p>
  </div> 
  <div class="w3-display-bottomleft w3-text-grey w3-small w3-hide-large w3-hide-medium">
    <span>Cím: {fm.address}</span> | <span>Adó: {fm.taxNumber}</span> | <span>Tel: {fm.phone}</span>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-hide-small">
    <span>Cím: {fm.address}</span> | <span>Adó: {fm.taxNumber}</span> | <span>Tel: {fm.phone}</span>
  </div>
</header>
<style>
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: var(--bgUrl);
  min-height: 100vh;
}
.hero-content {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 32px;
  max-width: min(92vw, 520px);
  box-sizing: border-box;
}
.hero-content a.w3-button {
  max-width: 100%;
  white-space: normal;
}
</style>